:root {
    --background-pagina: #E8E8E8;
    --background-celular: #415FFF; 
    --cor-branco: #FFFFFF;
    --cor-preta: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background: var(--background-pagina);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.celular {
    width: 360px;
    height: 640px;
    background: var(--background-celular);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.barra-superior {
    padding: 12px 20px;
    font-size: 14px;
    color: var(--cor-branco);
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-superior .material-icons {
    font-size: 16px;
}

.barra-inferior {
    padding: 12px 80px;
    color: var(--cor-branco);
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-inferior .material-icons {
    font-size: 16px;
}

.barra-inferior button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-branco);
}

.home {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-titulo {
    color: var(--cor-branco);
    font-size: 26px;
    font-weight: 700;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0 80px;
}

.app {
    width: 70px;
    text-align: center;
    color: var(--cor-preta);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.app:hover {
    transform: scale(1.1);
}

.app .material-icons {
    font-size: 36px;
    padding: 12px;
    border-radius: 15px;
    background: var(--cor-branco);
}

.app p {
    margin-top: 6px;
    font-size: 12px;
    color: var(--cor-branco);
}



